a {
    color: #673ab8;
    font-size: 17px;
    cursor: pointer;
}

.listItem {
    width: 17em;
    border: 2px solid #ccc;
    margin: 0.5em;
    padding: 0.5em;
}

.listItem:hover {
    background: #ccc;
}